@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&display=swap');

html {
    overflow: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .app {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #EA5C54 ; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #EA5C54  0%, #bb6dec 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#EA5C54 ), color-stop(100%,#bb6dec)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #EA5C54  0%,#bb6dec 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #EA5C54  0%,#bb6dec 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #EA5C54  0%,#bb6dec 100%); /* IE10+ */
    background: linear-gradient(135deg,  #EA5C54  0%,#bb6dec 100%); /* W3C */
  }
  
  .page {
    width: 90vw;
    height: 100vh;
    color: #000;
    font-family: 'Raleway', sans-serif;
  }


li {
    list-style-type: none;
}

.sidenav---sidenav---_2tBP {
    background-color: rgba(0,0,0, 0.25) !important;
    backdrop-filter: blur(45px);
    position: fixed !important;
}

.navbar-brand {
    font-size: 1.59rem;
    font-weight: 600;
    margin-left: 1%;
}

/* search bar size*/
.input-customsize {
    width: 30%;
}

/* workflow card layout */

#kaban {
    float:left;
    position:relative;
    margin-top: 1%;
    width: 90%;
    border-radius: 20px;
    height:auto;
    padding: 20px;
    background-color: rgba(0,0,0, 0.3) !important;
}

#scroller {
    float:left;
    position:relative;
    width:100%;
    max-width:100%;
    height:auto;
    overflow:auto;
}

#boards {
    float:left;
    position:relative;
    width:auto;
    height:auto;
    margin-bottom:30px;
}

.board {
    float:left;
    position:relative;
    width:200px;
    height:auto;
    margin:8px;
    background-color:lightgray;
    border-radius:3px;
    box-shadow:1px 1px 1px rgba(0,0,0,.2);
}

.board header {
    float:left;
    width:100%;
    padding:.5em;
    background-color:lightgray;
    text-transform:uppercase;
    border-radius:3px 3px 0 0;
}

#board1 header {
    background-color:#BC3425;
    color:white;
    font-weight: 600;
}

#board2 header {
    background-color:#e6cb22;
    color:white;
    font-weight: 600;
}

#board3 header {
    background-color:#11b82a;
    color:white;
    font-weight: 600;
}

.cards {
    list-style-type:none;
    float:left;
    width:100%;
    padding:4px 8px;
}

.card {
    float:left;
    width:100%;
    height:auto;
    background-color:white;
    padding:10px;
    margin:4px 0;
    border-radius:3px;
    box-shadow:1px 1px 1px rgba(0,0,0,.2);
}

.cardtitle {
    float:left;
    width:100%;
    padding-bottom: 8px;
    border-bottom: 1px solid #e0e0e0;
}

.cards .is-moving {
    background-color:white;
    color:black
}


.collection {
    background-color: #fff;
    margin: 0.5rem 0 1rem 0;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
}

.collection.with-header .collection-header {
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 20px;
  }

.collection .collection-item {
    background-color: #fff;
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
}

.collection .collection-item.avatar .secondary-content {
    position: absolute;
    top: 16px;
    right: 16px;
}

.collection .collection-item:last-child {
    border-bottom: none;
}

.collection .collection-item.active {
    background-color: #26a69a;
    color: #eafaf9;
}

.collection .collection-item.active .secondary-content {
    color: #fff;
}

.collection a.collection-item {
    display: block;
    -webkit-transition: .25s;
    transition: .25s;
    color: #26a69a;
}

.collection a.collection-item:not(.active):hover {
    background-color: #ddd;
}

.center {
    text-align: center;
}

.width-header {
    width: 70%;
}

.float-right {
    float: right;
}

.btn-modal-workflow {
    position: absolute;
    right: 80px;
    bottom: 50px;
    height: 60px;
    width: 60px;
}

.code-text{
    font-family: 'Courier New', monospace;
    text-align: justify;
    font-size: 0.8rem;
}

.comment-textarea {
    width: 99%;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    padding: 8px 12px;
    font-size: 0.9rem;
}

.h-85 {
    height: 85%;
}
