@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #EA5C54 ; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #EA5C54  0%, #bb6dec 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#EA5C54 ), color-stop(100%,#bb6dec)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #EA5C54  0%,#bb6dec 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #EA5C54  0%,#bb6dec 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #EA5C54  0%,#bb6dec 100%); /* IE10+ */
  background: linear-gradient(135deg,  #EA5C54  0%,#bb6dec 100%); /* W3C */
}

.page {
  width: 90vw;
  height: 100vh;
  color: #000;
  font-family: 'Raleway', sans-serif;
}

li {
    list-style-type: none;
}

.sidenav---sidenav---_2tBP {
    background-color: #0000ff !important;
    position: fixed !important;
}

.navbar-brand {
    font-size: 1.59rem;
    font-weight: 600;
    margin-left: 1%;
}

.collection {
    margin: 0.5rem 0 1rem 0;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
}

.collection .collection-item {
    background-color: #fff;
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
}

.collection .collection-item.avatar .secondary-content {
    position: absolute;
    top: 16px;
    right: 16px;
}

.collection .collection-item:last-child {
    border-bottom: none;
}

.collection .collection-item.active {
    background-color: #26a69a;
    color: #eafaf9;
}

.collection .collection-item.active .secondary-content {
    color: #fff;
}

.collection a.collection-item {
    display: block;
    -webkit-transition: .25s;
    transition: .25s;
    color: #26a69a;
}

.collection a.collection-item:not(.active):hover {
    background-color: #ddd;
}

.center {
    text-align: center;
}

.width-header {
    width: 70%;
}

.float-right {
    float: right;
}

.btn-modal-workflow {
    position: absolute;
    right: 80px;
    bottom: 50px;
    height: 60px;
    width: 60px;
}

.btn-primary{
    background-color: #0000ff;
}

.code-text{
    font-family: 'Courier New', monospace;
    text-align: justify;
    font-size: 0.8rem;
}